@model MvcApplication1.Models.Todo

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Todo</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.note)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.note)
            @Html.ValidationMessageFor(model => model.note)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.createdDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.createdDate)
            @Html.ValidationMessageFor(model => model.createdDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isCompleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isCompleted)
            @Html.ValidationMessageFor(model => model.isCompleted)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
